.App {
  background-color: #f4f3f6;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
  width: 12px;
  border-radius: 10px;
  opacity: 50%;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #81688d33;
}
