.form {
  width: 50vw;
  height: 50vh;
  background-color: #f4f3f6;
  border-radius: 10px;
  padding: 1em 0;
  margin: 0 auto;
  position: relative;
}

input {
  margin: 0 auto;
  padding: 1em 0.75em;
  width: 50%;
}

button {
  font-weight: bold;
  color: #f4f3f6;
  background-color: #81688d;
  font-size: 1em;
  border-radius: 1.5em;
  border: none;
  padding: 0.75em 2em;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .form {
    width: 40rem;
    height: 40rem;
  }
}
